.loading {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.item {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .chip {
    margin-left: 16px;
  }
}

.button {
  min-width: 100vw;
}

.link,
.link:visited {
  line-height: 2em;
  color: #00bcd4;

  &:hover {
    color: #fff;
  }
}
